<mat-card>
	<mat-card-title>{{ wallet.name }}</mat-card-title>
	<div class="row"><mat-card-subtitle>Tulajdonos</mat-card-subtitle> <mat-card-content>(én)</mat-card-content></div>
	<div class="row">
		<mat-card-subtitle>Felhasználás</mat-card-subtitle> <mat-card-content>Egyéni</mat-card-content>
	</div>
	<div class="row">
		<mat-card-subtitle>Egyenleg</mat-card-subtitle> <mat-card-content>{{ balances }}</mat-card-content>
	</div>
	<mat-card-actions>
		<button mat-button color="primary">
			<fa-icon icon="exchange-alt" size="lg"></fa-icon>
			<span>Átutalás bankszámlák között</span>
		</button>
		<button mat-button color="primary">
			<fa-icon icon="money-bill-wave" size="lg"></fa-icon>
			<span>Készpénz felvétel</span>
		</button>
		<button mat-raised-button color="primary">
			<fa-icon icon="trash-alt" size="lg"></fa-icon>
			<span>Törlés</span>
		</button>
	</mat-card-actions>
</mat-card>
