<div [formGroup]="parent" class="transactions">
	<div formGroupName="transaction">
		<mat-accordion>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title *ngIf="isIdDefined">
						Új tranzakció
					</mat-panel-title>
					<mat-panel-title *ngIf="!isIdDefined">
						Tranzakció módosítás
					</mat-panel-title>
				</mat-expansion-panel-header>

				<mat-form-field class="component">
					<input type="text" formControlName="name" matInput placeholder="Név" />
				</mat-form-field>

				<mat-form-field class="component">
					<mat-select formControlName="walletRef" type="text" placeholder="Tárca">
						<mat-option *ngFor="let wallet of wallets$ | async" [value]="wallet.id">{{
							wallet.name
						}}</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<mat-select placeholder="Típus" formControlName="type">
						<mat-option value="Bevétel">Bevétel</mat-option>
						<mat-option value="Kiadás">Kiadás</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<input
						type="text"
						placeholder="Kategória"
						matInput
						formControlName="category"
						[matAutocomplete]="aGroup"
					/>
					<mat-autocomplete #aGroup="matAutocomplete">
						<mat-optgroup *ngFor="let group of categoryOptions | async" [label]="group.type">
							<mat-option *ngFor="let name of group.names" [value]="name">
								{{ name }}
							</mat-option>
						</mat-optgroup>
					</mat-autocomplete>
				</mat-form-field>
				<mat-form-field>
					<input
						type="text"
						placeholder="Alkategória"
						formControlName="subcategory"
						matInput
						[matAutocomplete]="autoGroup"
					/>
					<mat-autocomplete #autoGroup="matAutocomplete">
						<mat-optgroup *ngFor="let group of subcategoryOptions | async" [label]="group.category">
							<mat-option *ngFor="let name of group.names" [value]="name">
								{{ name }}
							</mat-option>
						</mat-optgroup>
					</mat-autocomplete>
				</mat-form-field>
				<mat-form-field>
					<input
						matInput
						[matDatepicker]="picker"
						[max]="maxDate"
						placeholder="Dátum"
						formControlName="date"
					/>
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				<mat-form-field>
					<input type="number" formControlName="amount" matInput placeholder="Összeg" />
				</mat-form-field>
				<button mat-raised-button color="primary" type="submit" [disabled]="!parent.valid">
					Mentés
				</button>
				<button mat-button color="primary" *ngIf="!isIdDefined">
					Mégse
				</button>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>
