<form [formGroup]="walletForm" (submit)="onSubmit()">
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Új bankszámla
				</mat-panel-title>
			</mat-expansion-panel-header>
			<mat-form-field>
				<input matInput placeholder="Név" type="text" formControlName="walletName" />
			</mat-form-field>
			<mat-form-field>
				<mat-select placeholder="Felhasználás" formControlName="walletIndividual">
					<mat-option value="option">Egyéni</mat-option>
					<mat-option value="option">Közös</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Másik tulajdonos" type="text" formControlName="walletOtherOwner" />
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit" [disabled]="!walletForm.valid">
				Mentés
			</button>
		</mat-expansion-panel>
	</mat-accordion>
</form>
