<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Új tranzakció
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="parameters-container">
			<div class="row">
				<mat-form-field class="component">
					<input matInput placeholder="Név" />
				</mat-form-field>

				<mat-form-field class="component">
					<mat-select placeholder="Tárca">
						<mat-option value="option">Készpénz</mat-option>
						<mat-option value="option">Bankkártya1</mat-option>
						<mat-option value="option">Bankkártya2</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field class="component">
					<mat-select placeholder="Típus">
						<mat-option value="option">Bevétel</mat-option>
						<mat-option value="option">Kiadás</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="row">
				<mat-form-field class="component">
					<input
						type="text"
						placeholder="Kategória"
						matInput
						[formControl]="myControl"
						[matAutocomplete]="auto"
					/>
					<mat-autocomplete #auto="matAutocomplete">
						<mat-option *ngFor="let option of categoryOptions" [value]="option">
							{{ option }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
				<mat-form-field class="component">
					<input
						type="text"
						placeholder="Alkategória"
						matInput
						[formControl]="myControl"
						[matAutocomplete]="auto"
					/>
					<mat-autocomplete #auto="matAutocomplete">
						<mat-option *ngFor="let option of subcategoryOptions" [value]="option">
							{{ option }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
				<mat-form-field class="component">
					<input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Dátum" />
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="row">
				<mat-form-field class="component">
					<input type="number" min="1" matInput placeholder="Összeg" />
				</mat-form-field>
				<button mat-raised-button color="primary">
					Hozzáad
				</button>
			</div>
		</div>
	</mat-expansion-panel>
</mat-accordion>
<app-transaction-list></app-transaction-list>
