<div [formGroup]="parent">
	<div formGroupName="wallet">
		<mat-accordion>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title *ngIf="isIdDefined">
						Új bankszámla
					</mat-panel-title>
					<mat-panel-title *ngIf="!isIdDefined">
						Bankszámla módosítás
					</mat-panel-title>
				</mat-expansion-panel-header>
				<mat-form-field>
					<input matInput placeholder="Név" type="text" formControlName="name" />

					<mat-error *ngIf="parent?.errors && (parent?.errors)['taken']">
						Foglalt név
					</mat-error>
				</mat-form-field>
				<mat-form-field>
					<mat-select #walletIndividualSelect placeholder="Felhasználás" formControlName="individual">
						<mat-option value="unique">Egyéni</mat-option>
						<mat-option value="common">Közös</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field [style.visibility]="isCommon">
					<input matInput placeholder="Másik tulajdonos" type="text" formControlName="otherOwner" />
				</mat-form-field>
				<button mat-raised-button color="primary" type="submit" [disabled]="!parent.valid">
					Mentés
				</button>
				<button mat-button color="primary" *ngIf="!isIdDefined">
					Mégsem
				</button>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>
