<ag-grid-angular
	class="ag-theme-material"
	[suppressCellSelection]="true"
	[accentedSort]="true"
	[rowSelection]="rowSelection"
	[rowData]="rowData"
	[columnDefs]="columnDefs"
	[suppressNoRowsOverlay]="true"
	[pagination]="true"
	[paginationPageSize]="paginationPageSize"
	[defaultColDef]="defaultColDef"
	[frameworkComponents]="frameworkComponents"
	(gridSizeChanged)="onGridSizeChanged($event)"
	(selectionChanged)="onSelectionChanged($event)"
	(gridReady)="gridReady($event)"
>
</ag-grid-angular>
