#row {
	width: 100%;
	height: 25px;
	color: black;
	display: flex;
	flex-direction: row;
}
.name {
	padding: 5px;
	border: 1px solid black;
	width: 40%;
}
.date {
	padding: 5px;
	border: 1px solid black;
	width: 30%;
}
.amount {
	padding: 5px;
	border: 1px solid black;
	width: 30%;
	text-align: right;
}
