<form [formGroup]="yearForm">
	<mat-form-field>
		<mat-dialog-content>
			<input type="number" matInput formControlName="year" placeholder="Kimutatási év" />
		</mat-dialog-content>
	</mat-form-field>
	<button mat-raised-button color="primary" (click)="save()" [disabled]="!yearForm.valid">
		Kiválasztás
	</button>
</form>
<div class="flex">
	<div class="flex-item">
		<div style="display: block;">
			<canvas
				baseChart
				width="400"
				height="200"
				[datasets]="lineChartData"
				[labels]="lineChartLabels"
				[options]="lineChartOptions"
				[colors]="lineChartColors"
				[legend]="lineChartLegend"
				[chartType]="lineChartType"
				[plugins]="lineChartPlugins"
				(chartHover)="chartHovered($event)"
				(chartClick)="chartClicked($event)"
			></canvas>
		</div>
	</div>
</div>
