<mat-toolbar color="primary">
	<span class="fill-remaining-space">{{ owner | async }} költségvetése</span>
	<span
		><button mat-menu-item [routerLink]="['wallet']">
			<span>Tárcák</span>
		</button>
	</span>
	<span>
		<button mat-menu-item [routerLink]="['list']">
			<span>Tranzakciók</span>
		</button>
	</span>
	<span>
		<button mat-menu-item [routerLink]="['financial-statement']">
			<span>Kimutatások</span>
		</button>
	</span>
	<span>
		<button mat-menu-item [routerLink]="['lockup']">
			<span>Lekötések</span>
		</button></span
	>

	<span class="fill-remaining-space"></span>
	<span>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<fa-icon icon="bars" size="lg"></fa-icon>
		</button>
		<mat-menu #menu="matMenu" [overlapTrigger]="true">
			<button mat-menu-item (click)="openCashDialog()">
				<fa-icon icon="user" size="lg"></fa-icon>
				<span>Felhasználói adatok</span>
			</button>
		</mat-menu>
	</span>
</mat-toolbar>
