<mat-card>
	<mat-card-title>{{ wallet.name }}</mat-card-title>
	<div class="row">
		<mat-card-subtitle>Tulajdonos</mat-card-subtitle> <mat-card-content>{{ wallet.owner }}</mat-card-content>
	</div>
	<div class="row">
		<mat-card-subtitle>Felhasználás</mat-card-subtitle>
		<mat-card-content *ngIf="wallet.individual">Egyéni</mat-card-content>
		<mat-card-content *ngIf="!wallet.individual">Közös</mat-card-content>
	</div>
	<div class="row" *ngIf="!wallet.individual">
		<mat-card-subtitle>Másik tulajdonos</mat-card-subtitle>
		<mat-card-content>{{ wallet.otherOwner }}</mat-card-content>
	</div>
	<div class="row"><mat-card-subtitle>Egyenleg</mat-card-subtitle> <mat-card-content></mat-card-content></div>
	<mat-card-actions>
		<button mat-button color="primary">
			<fa-icon icon="exchange-alt" size="lg"></fa-icon>
			<span>Átutalás bankszámlák között</span>
		</button>
		<button mat-button color="primary">
			<fa-icon icon="money-bill-wave" size="lg"></fa-icon>
			<span>Készpénz felvétel</span>
		</button>
		<button mat-raised-button color="primary" (click)="delete($event)">
			<fa-icon icon="trash-alt" size="lg"></fa-icon>
			<span>Törlés</span>
		</button>
	</mat-card-actions>
</mat-card>
