<mat-card (click)="modify($event)">
	<mat-card-title>{{ walletWithTransaction.wallet.name }}</mat-card-title>
	<div class="row">
		<mat-card-subtitle>Tulajdonos</mat-card-subtitle>
		<mat-card-content *ngFor="let u of owner | async" value="u.name">{{ u.name }}</mat-card-content>
	</div>
	<div class="row">
		<mat-card-subtitle>Felhasználás</mat-card-subtitle>
		<mat-card-content *ngIf="walletWithTransaction.wallet.individual === 'unique'">Egyéni</mat-card-content>
		<mat-card-content *ngIf="walletWithTransaction.wallet.individual === 'common'">Közös</mat-card-content>
	</div>
	<div class="row" *ngIf="walletWithTransaction.wallet.individual === 'common'">
		<mat-card-subtitle>Másik tulajdonos</mat-card-subtitle>
		<mat-card-content>{{ walletWithTransaction.wallet.otherOwner }}</mat-card-content>
	</div>
	<div class="row">
		<mat-card-subtitle>Egyenleg</mat-card-subtitle>
		<mat-card-content>{{
			balanceFormatter(walletService.sum(walletWithTransaction.transactions))
		}}</mat-card-content>
	</div>
	<mat-card-actions *ngIf="walletWithTransaction.wallet.name !== 'Készpénz'">
		<button mat-button color="primary" (click)="openCashDialog()">
			<fa-icon icon="exchange-alt" size="lg"></fa-icon>
			<span>Átutalás tárcák között</span>
		</button>
		<button mat-raised-button color="primary" (click)="delete($event)">
			<fa-icon icon="trash-alt" size="lg"></fa-icon>
			<span>Törlés</span>
		</button>
	</mat-card-actions>
	<mat-card-actions *ngIf="walletWithTransaction.wallet.name === 'Készpénz'">
		<button mat-button color="primary" (click)="openCashDialog()">
			<fa-icon icon="exchange-alt" size="lg"></fa-icon>
			<span>Befizetés bankszámlára</span>
		</button>
	</mat-card-actions>
</mat-card>
