.row {
	display: flex;
	flex-direction: row;
	margin: 5px;
	.mat-card-content {
		width: 100%;
		text-align: right;
	}
}
.mat-card-actions {
	margin-right: auto;

	text-align: right;
}
.mat-card {
	margin-block-end: 1%;
}
.button {
	display: inline;
}
